#binary file
*.img
*.bin

# Compiled Ojbet files
*.slo
*.lo
*.o
*.obj
*.class

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

#vim
*.swp

# ignore folder
tmp/
bin/
bin-debug/

.settings/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

