# Compiled Ojbet files
*.slo
*.lo
*.o
*.obj
*.class

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

# ignore folder
tmp/
bin/
bin-debug/

.settings/
.metadata/
.idea/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

/book/ScalaForJavaDevelopers/example/netbeans_workspace/Sample/nbproject/private/
/book/ScalaForJavaDevelopers/example/netbeans_workspace/Sample/build/
/book/ScalaForJavaDevelopers/example/netbeans_workspace/Sample/dist/
